.box{
    height: 570px;
    width: 600px;
}
.inner1{
    height: 300px;
    width: 570px;
    background-color: rgb(231, 200, 231);
    margin-top: -80px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner2{
    height:350px ;
    width: 570px;
    margin-left: 15px;
    margin-top: -32px;
    background-color: rgb(169, 207, 222);
    justify-content: space-around;
    display: flex;
    
}
.box1{
    height: 140px;
    width: 140px;
    background-color: white;
}

.tasimg{
    display: flex;
}
.tas{
    margin-top: 25px;
    margin-left: 5px;
    height: 70px;
    width: 50px;
}
.para{
    color: skyblue;
    display: flex;
}
#p1{
   font-size: x-large;
   font-weight: 600;
   margin-left: 60px;
   margin-top: -70px;
   font-family: monospace;
}
#p2{
    font-size: small;
    justify-content: center;
    margin-left: 55px;
    margin-top: -20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 }
 .wb{
    font-size: large;
    font-family: sans-serif;
    margin-left: -40px;
    font-weight: 1000;
    margin-top: 10px;
 }
 .image{
    margin-left: -50px;
    margin-top: -20px;
    height: 310px;
    width: 210px;
    border-radius: 5px;
 }
 .cont{
    font-size: x-large;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 1000;
 }
 .buttons{
    margin: 190px 0px 0px -200px;
    
 }
 .b{
    background-color: rgb(217, 27, 91);
    border-radius: 5px;
 }
 

 